@model List<Tuote>
<style>
    .varoitus {
        color: red;
        font-style: italic;
    }
</style>

<h1>Ostoskori</h1>
<br />
<br />

<table border="1">
    <tr>
        <th>Tuotenimi</th>
        <th>Lukumäärä</th>
        <th>Hinta</th>
        <th></th>
    </tr>
    @{
        foreach (var tuote in Model)
        {

            string url = $"PoistaaKorista/{tuote.TuoteId}";

            <tr>
                <td>@tuote.Nimi</td>
                <td>1</td>
                <td>@tuote.Hinta</td>
                <td><a href="@url"><input type="button" value="Poista tuote" /></a></td>

            </tr>
        }
    }
    <tr>
        <td></td>
        <td>Tuotteiden määrä: <strong>@ViewBag.Lkm</strong></td>
        <td>Kokonaishinta: <strong>@ViewBag.KokonaisHinta</strong></td>
    </tr>
</table>
<p class="varoitus">@ViewBag.OstoskoriTyhjä</p>
<br />
<br />

<form method="post">
    <label>Sähköposti</label>
    <br />
    <input type="email" name="email" value="@ViewBag.Email"/>
    <p class="varoitus">@ViewBag.EmailPuuttuu</p>
    <br />
    <br />
    <div>
        <label>Lupaan kautta kiven ja kannon että olen oikea henkilö enkä mikään botti</label>
        <br />
        <input type="checkbox" value="Kyllä" name="varmistus" />
        <label for="varmistus">Kyllä</label>
        <p class="varoitus">@ViewBag.CheckboxPuuttuu</p>
    </div>
    <br />
    <input type="submit" value="Lähetä tilaus" />
</form>
