@model List<Tuote>
<style>
    .varoitus {
        color: red;
        font-style: italic;
    }
    table {
        width: 100%;
    }
    td, th {
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-bottom: 1px solid #ddd;
    }
    .poistonappi {
        border-bottom: 0px solid aliceblue;
    }
    #poisto {
        background-color: darkgrey;
    }
    #ostonappi {
        background-color: cornflowerblue;
        font-weight: bold;
        color: aliceblue;
    }
</style>

<h1>Ostoskori</h1>
<br />
<br />

<table >
    <tr>
        <th>Tuotenimi</th>
        <th>Lukumäärä</th>
        <th>Hinta</th>
        <th class="poistonappi"></th>
    </tr>
    @{
        foreach (var tuote in Model)
        {

            string url = $"PoistaaKorista/{tuote.TuoteId}";

            <tr>
                <td>@tuote.Nimi</td>
                <td>1</td>
                <td>@tuote.Hinta</td>
                <td class="poistonappi"><a href="@url"><input id="poisto" type="button" value="Poista tuote" /></a></td>

            </tr>
        }
    }
    <tr>
        <td></td>
        <td>Tuotteiden määrä: <strong>@ViewBag.Lkm</strong></td>
        <td>Kokonaishinta: <strong>@ViewBag.KokonaisHinta €</strong></td>
    </tr>
</table>
<p class="varoitus">@ViewBag.OstoskoriTyhjä</p>
<br />
<br />

<form method="post">
    <label>Sähköposti</label>
    <br />
    <input type="email" name="email" value="@ViewBag.Email"/>
    <p class="varoitus">@ViewBag.EmailPuuttuu</p>
    <br />
    <br />
    <div>
        <label>Lupaan kautta kiven ja kannon että olen oikea henkilö enkä mikään botti</label>
        <br />
        <input type="checkbox" value="Kyllä" name="varmistus" />
        <label for="varmistus">Kyllä</label>
        <p class="varoitus">@ViewBag.CheckboxPuuttuu</p>
    </div>
    <br />
    <input id="ostonappi" type="submit" value="Lähetä tilaus" />
</form>
