@model NeroStore.Models.Tuote

@{
    ViewData["Title"] = "Details";
}
<style>

    #tuote {
        text-align: left;
        max-height: 12em;
        max-width: 12em;
        width: auto;
        height: auto;
    }
   
    .näkymä {
        display: flex;
    }
    input {
        background-color: cornflowerblue;
        font-weight: bold;
        color: aliceblue;
    }
    .kuva{
        width:300px
    }
    .ostonappi{
        margin-left:8px;
    }
</style>
<h1>@Model.Nimi</h1>
<p></p>
<hr />
<div class="näkymä">
    <div class=" kuva">
        <img id="tuote" src="@Model.Tyyppi" alt="testi" />
    </div>
    <br />
    <div class="teksti">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nimi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nimi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Hinta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hinta) €
            </dd>
            <dt class="col-sm-2">
                Varastossa
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Lkm)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kuvaus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kuvaus)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tuoteryhma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tuoteryhma)
            </dd>
        </dl>
    </div>
</div>
<br />
<br />
<div id="ostonappi">

    <a href="@Url.Action("LisääKoriinTietoja", new { id = Model.TuoteId})"><input type="button" value="Lisää ostoskoriin" /></a>
</div>
<br />
<h4>@ViewBag.Viesti</h4>
<br />
@Html.ActionLink("Tuotelistaukseen", "Tuotteet", "Home")

