@model NeroStore.Models.Tuote

@{
    ViewData["Title"] = "Delete";
}

<h1>Poista tuote</h1>

<h3>Haluatko varmasti poistaa tuotteen?</h3>
<div>
    <h4>Tuote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lkm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lkm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuvaus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kuvaus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tyyppi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tyyppi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuoteryhma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuoteryhma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TuoteId" />
        <input type="submit" value="Poista" class="btn btn-danger" /> |
        <a asp-action="Index">Takaisin tuotelistaan</a>
    </form>
</div>
